.App-Header {
  background-color: #1a1c22;
  padding: 10px 10px;
  font-size: 18px;
  color: white;
}

.fadein {
  opacity: 0.1;
}
.fadein-enter {
  opacity: 1;
  transition: all 500ms ease;
}

.cursorPointer {
  cursor: pointer;
}

.App-Splitter {
  margin-bottom: 1em;
  border: 0;
  border-top: 1px solid #434857;
}
