.TimeLine {
  font-size: 14px;
  position: relative;
  height: 100%;
}

.TimeLine-Content {
  /*transform: scale(0.98);*/
  position: relative;
}

.TimeLine-Title {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(60,182,227,.7)
}
  .TimeLine-Title .fa {
    color: rgba(60,182,227,.9);
    margin-right: 8px;
    transform: rotate(90deg) scale(-1, 1.5) translate(-1px, -2px);
    transform-origin: 50% 50%;
  }

.TimeLine-Duration {
  font-size: 14px;
  font-weight: 200;
  padding: 3px;
  color: #dedede;
}
  .TimeLine-Duration .fa {
    font-size: 12px;
    margin-right: 5px;
  }

  
.TimeLine-Range {
  font-size: 10px;
  text-align: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
  .TimeLine-Range__Scale {
    position: absolute;
    text-align: center;
    bottom: -10px;
  }
  .TimeLine-Range__Scale-Line {
    width: 0;
    height: calc(100% - 5px);
    border-right: 1px solid rgba(255, 255, 255, .2);
    position: absolute;
    bottom: 5px;
  }
  .TimeLine-Range__Min {
    left: -0.25em;
  }
  .TimeLine-Range__Max {
    right: -1em;
  }

.TimeLine-Timing {
  display: flex;
  align-items: center;
  font-family: "Signika Negative";
  padding: 1px 0px;
  border-top: 1px dotted rgba(255, 255, 255, .2);
}
  .TimeLine-Timing:last-of-type {
    border-bottom: 1px dotted rgba(255, 255, 255, .2);
  }

  .TimeLine-Timing__Info {
    display: inline-block;
    border-radius: 0;
    text-align: left;
    padding: 0;
    box-sizing: border-box;
    white-space: nowrap;
    position: relative;
    /*margin-left: 1px;*/
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    background-color: rgba(154,202,39,.9);
    color: rgba(154,202,39,.9);
  }
    .TimeLine-Timing__Info.--EmptyDuration {
      background-color: rgba(60,182,227,.9);
      color: rgba(60,182,227,.9);
      width: 2px;
    }
    .TimeLine-Timing__Detail {
      display: none;
      position: absolute;
      margin: auto;
      bottom: 50%;
      left: 50%;
      padding: 2px 5px;
      background-color: currentColor;
      z-index: 1;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
      border: 1px dashed currentColor;
    }
    .TimeLine-Timing__Info:hover .TimeLine-Timing__Detail {
      display: block;
    }
      .TimeLine-Timing__Detail-Content {
        text-align: right;
        font-size: 13px;
        color: #fff;
      }
  
  .TimeLine-Timing__Label {
    color: #FFF;
    padding-left: 5px;
    font-size: 13px;
    font-weight: lighter;
  }
  .TimeLine-Timing__Duration {
    color: #F3F3F3;
    padding-left: 3px;
  }
  
